* { margin: 0; padding: 0; }
ul { list-style: none; padding: 0; }
li { display: inline-block; }

nav {
    background: #1a1a1a;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
}

a { text-decoration: none; color: white; }

body > section {
    min-height: 600px;
    background-color: #252830;
    color: white;
}

body > section:nth-child(odd) {
    background-color: lightgrey;
}

#home {
    background-image: url("https://previews.123rf.com/images/kurhan/kurhan1501/kurhan150101327/35965290-group-of-happy-people-workers-.jpg");
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: 100%;
}

#nucleo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    padding: 25px;
}

#nucleo > a {
    text-align: center;
    background-color: deepskyblue;
}

#nucleo > a:hover { background-color: skyblue; transition-duration: 0.3s;}