* { font-family: 'Raleway', sans-serif; }

nav {
    margin-right: 10px;
}

nav ul li {
    margin-top: 5px;
}

nav a { 
    color: white; 
}

nav .fas {
    font-size: 25px;
}

a { text-decoration: none; }

header {
    background: black;
    color: white;
    padding: 15px 80px;
    display: flex;
}

header h1 {
    font-weight: normal;
}

section {
    margin: 30px 80px;
    width: 700px;
    background: white;
}

section h1 {
    margin-bottom: 12px;
    color: #252830;
    display: inline-block;
}

section p {
    text-indent: 3em;
    text-align: justify;
    margin-bottom: 10px;
}