* { font-family: 'Raleway', sans-serif; }

body{
    background: #e3570b;
}

nav {
    margin-right: 10px;
}

nav ul li {
    margin-top: 5px;
}

nav a {
    color: white;
}

nav .fas {
    font-size: 25px;
}

a { text-decoration: none; }

header {
    background: black;
    color: white;
    padding: 15px 80px;
    display: flex;
}

header h1 {
    font-weight: bold;
    display: flex;
    align-items: center;
}

header h1 small {
    font-weight: normal;
    margin-left: 10px;
}

section {
    padding: 30px;
    margin: 30px 80px;
    width: 700px;
    background: white;
}

section h1, section h2, section h3, section h4, section h5, section h6 {
    color: #252830;
    margin-bottom: 12px;
}

section h1 {
    display: inline-block;
}

section p {
    text-indent: 3em;
    text-align: justify;
    margin-bottom: 10px;
}
