nav {
    background: #1a1a1a;
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
}

nav ul li {
    padding: 10px 0;
}

nav ul li a {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    color: white;
}

nav ul li a:hover { background:     #e3570b; transition-duration: 0.33s; }

a { text-decoration: none; }


body > section {
    background-color: #830f0f;
    color: white;
    min-height: 300px;
}

body > section:nth-child(odd) {
    background-color: #e3570b;
}

#home {
    min-height: 400px;
    background-color: #830f0f;
}

#nucleo > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#nucleo > ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}
#nucleo a {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 1000px;
    height: 150px;
}

#nucleo a i {
    font-size: 72px;
    margin-bottom: 10px;
}

#nucleo a:hover { color: black; transition-duration: 0.3s;}

#ninete {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#ninete img {
    margin-left: 40px;
    width: 300px;
    border-radius: 100%;
    border: 4px solid white;
}

#ninete h3 { display: inline;}
#ninete ul { padding: 5px; display: inline;}
#ninete ul li {  margin-bottom: 5px;}
#ninete ul li a { color: white; font-weight: bold; }
#ninete ul li a:hover { color: black; transition-duration: 0.33s;}
#ninete > section{
    margin: 0 40px;
    margin-top: 30px;
    color: white;
}

#ninete p {
    text-indent: 3em;
    text-align: justify;
    margin-bottom: 10px;
}

#nucleo > h1, #matutando > h1 , #noticias > h1, #ninete > h1, #apoiamos > h1{
    grid-column: 1 / 5;
    color: white;
    font-size: 32px;
    text-align: center;
    background: black;
    margin-bottom: 30px;
    padding: 25px;
}

  .container {
    margin: 50px auto;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 30%;
    width: 60%;
    max-width: 800px;
    overflow: hidden;
    border: 4px solid #e3570b;
    border-radius: 10px;
    position: relative;
    display:block;
  }
  
  .photoWrapper {
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
    top: 0;
    left: 0;
  }
  .photo {
    height:auto;
    width:100%;
  }
  p.photoDescr {
    background-color: #8e8e8e;
    margin: 0;
    padding: 5px;
  }
  
  @keyframes round {
    25% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
  }
  .photoWrapper:nth-child(1) {
    animation-delay: 0s;
  }
  
  .photoWrapper:nth-child(2) {
    animation-delay: 4s;
  }
  
  .photoWrapper:nth-child(3) {
    animation-delay: 8s;
  }
  
  .photoWrapper:nth-child(4) {
    animation-delay: 12s;
  }
  @media (max-width: 728px) {
    .container {
      width: 90%;
      padding-bottom: 50%;
    }
  }

