nav {
    background: black;
    display: flex;
    align-items: center;
    padding: 0 35px;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
}

nav > a img {
    width: 150px;
}

nav ul li {
    padding: 10px 0;
}

nav ul li a {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    color: white;
    font-weight: bold;
}

nav ul li a:hover, #menu .menu-item.item-active a {
    border-bottom: 2px solid #00aedb;
    color: #00aedb;
    transition-duration: 0.33s;
    background: transparent;
}

a { text-decoration: none; }

body > section, body > div {
    background-color: #830f0f;
    color: white;
    min-height: 100vh;
}

#home {
    min-height: 400px;
    background-color: #1a1a1a;
}

#nucleo { background: #e3570b; }
#nucleo > h1 {
    text-align: center;
    padding: 50px 0;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 5px;
}

#nucleo > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#nucleo > ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}
#nucleo a {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 1000px;
    height: 150px;
}

#nucleo a i {
    font-size: 72px;
    margin-bottom: 10px;
}

#nucleo a:hover {
    color: #00aedb;
    transition-duration: 0.3s;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

#ninete {
    /* padding-bottom: 30px; */
    display: grid;
    grid-gap: 0;
    grid-template-columns: 2fr 2fr;
    min-height: 600px;
    background: #00aedb;
}

#ninete img {
    margin: 0px;
    /* width: 300px; */
    /* border-radius: 100%; */
    /* border: 4px solid white; */
}

#ninete h3 { display: inline;}
#ninete ul { padding: 5px; display: inline;}
#ninete ul li {  margin-bottom: 5px;}
#ninete ul li a { color: white; font-weight: bold; }
#ninete ul li a:hover { color: black; transition-duration: 0.33s;}
#ninete > section{
    padding: 50px;
    padding-right: 80px;
    /* margin: 0 40px; */
    /* margin-top: 30px; */
    color: white;
}

#ninete p {
    text-indent: 3em;
    text-align: justify;
    margin-bottom: 10px;
}

#apoio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    color: white;
}

#apoiadores {
    color: #d11141;
    background: white;
    padding: 50px;
}

#apoiadores h1, #apoiamos h1 {
    border-bottom: 4px solid #d11141;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#apoiamos h1 { border-color: white; }

#apoiadores > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

#apoiadores > div > * {
    padding: 10px;
}

#apoiadores img {
    width: 100px;
}

#apoiamos {
    background: #bc0f3a;
    padding: 50px;
}

#apoiamos > section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#apoiamos > section a {
    background-color: #a70d34;
    text-align: center;
    align-items: center;
}

#apoiamos section a:hover {
    background: white;
    transition-duration: 0.33s;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  /* display: inline-block; */
  transition: background-color 0.6s ease;
  display: none;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  min-width: 100%;
  padding: 0 35px;
  z-index: 999;
  flex-direction: row-reverse;
  height: auto;
}

#navbar-placeholder { height: 80px; display: none; background: black;}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */

/* #navbar { display: none; } */
