main > section h1 {
    font-size: 38px;
    text-align: center;
    padding: 20px;
    background: #1a1a1a;
    color: white;
    margin-bottom: 10px;
}

main > section p {
    text-align: justify;
    margin-bottom: 10px;
    padding: 0 60px;
}

main section div.cards {
    display: flex;
    padding: 0 60px;
}

main section div.cards > div {
    height: 150px;
    width: 150px;
    background: gold;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
}