* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans';
}

header {
    font-weight: bold;
    color: white;
    background: #103BA1;
    text-align: center;
    padding: 20px;
}

nav {
    background: #252830;
    color: white;
    display: flex;
    justify-content: space-between;
}

a { 
    text-decoration: none;
    color: white;
}

nav ul { 
    list-style: none; 
    padding: 10px 0;
}

nav li { 
    padding: 10px 0;
    display: inline;
}

nav li.active {
    background: #103BA1;
}

nav ul li:hover {
    background: #103BA1;
    transition-duration: 0.33s;
}

nav ul li a {
    padding: 10px;
}

footer {
    background: #252830;
    height: 100px;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

footer img { max-width: 100%; max-height: 100%; }

footer > div {
    display: flex;
    text-align: center;
}

footer > div a {
    margin-left: 20px;
}

#logo-cnpq {
    margin-top: 30px;
}

main { min-height: 400px; }