html, body {
    margin: 0;
    padding: 0;
}

nav {
    background: #252830;
    color: white;
}

a { 
    text-decoration: none;
    padding: 10px;
    color: white;
}

ul { 
    list-style: none; 
    padding: 10px 0;
}

li { 
    padding: 10px 0;
    display: inline;
}
