section {
    padding: 20px 40px;
}

section h1 {
    margin-bottom: 12px;
    color: #252830;
    display: inline-block;
}

section p {
    text-indent: 3em;
    text-align: justify;
    margin-bottom: 10px;
}