main {
    padding: 30px;
}

section {
    padding: 20px;
    margin: 0;
    width: inherit;
    background: white;
    margin-bottom: 10px;
    /* max-height: 200px; */
}

.btn {
    padding: 5px 10px;
    border: none;
    background: #830f0f;
    color: white;
    border: 2px solid #830f0f;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: #830f0f;
    transition: 0.33s;
}

.expand-text {
    display: none;
}

section h1 {
    margin-bottom: 12px;
    color: #252830;
    display: inline-block;
}

section p {
    text-indent: 2em;
    text-align: justify;
    margin-bottom: 10px;
}

section ul {
    padding-left: 30px;
}

section ul li {
    display: block;
}
